.cmp-learn-more-cards.container.slp-container
  .row.text-center#learn-more
    .u-padding-top-md.u-padding-bottom-md
      = partial "/images/pricing/particles-contact.svg"
      .font-size-2xl.u-margin-bottom-sm
        #{current_page.data.learn_cards_title}
      .row.learn-cards
        .col-md-4
          .learn-card
            = partial "/images/icons/localization-whitepaper.svg"
            %p.font-size-xl #{current_page.data.learn_card_1_title}
            %a.btn.cta-btn.lavender{href: current_page.data.learn_card_1_href} #{current_page.data.learn_card_1_btn_copy}
        .col-md-4
          .learn-card
            = partial "/images/icons/localization-whitepaper.svg"
            %p.font-size-xl #{current_page.data.learn_card_2_title}
            %a.btn.cta-btn.lavender{href: current_page.data.learn_card_2_href} #{current_page.data.learn_card_2_btn_copy}
