##### Quality

TBD
<%#
* Engages with the stable-counterparts for their team looking at how to improve the working relationships and processes.
* Represents their team, and considers the impact to the team, when in conversations with others.
* Provides [feedback](/handbook/people-group/guidance-on-feedback/) that focuses on the business impact of the behaviour.
* Extensive user of GitLab ([dogfooding](/handbook/engineering/#dogfooding)) and regularly makes helpful suggestions for feature proposals in a variety of stages.
* Demonstrates ownership of projects that require collaboration with other teams.
* Leads conversations towards action and encourages bias for action to deliver results.
* Helps others in their group to achieve their group's goals.
* Follows up on suggestions that they make and issues that they create.
* Seeks out ways to be more effective in their role, while also starting to [mentor](/handbook/engineering/career-development/mentoring/) others in ways to work efficiently.
* Proactively takes on work that enables greater efficiency of others in the team.
* Seeks out diverse opinions to improve the quality of the team's work, for example through code review from outside the team.
* Uses people's talents to maximize the results of their group.
* Independently balances short term gains and long term benefit.
* Creates proposals for the team that have a wide scope but still contain an iterative proposal for delivering the outcome.
* Identifies opportunities to improve the processes around iteration.
* Holds their team to a high standard of transparency and encourages others to work in the open.
* Directly or indirectly takes part in the hiring process to help ensure that we bring in a wide variety of experience into our teams.
%>
