---
title: GitLab Partners (formerly known as Resellers)
description: "Learn about GitLab partners, who they are, what services they provide, and how you can become a partner."
suppress_header: true
extra_css:
  - community.css
  - resellers.css
extra_js:
  - resellers.js
---

.reseller-hero.text-center
  .container
    %h1
      Partners and GitLab: Together we are better
    .reseller-hero-content
      %p GitLab partners with industry leading technology and channel partner specialized in DevOps transformation. 
      %p Find a GitLab Channel Partner to fit your need(s) for implementation, integration and optimizations services
      = link_to "Find a partner", "https://partners.gitlab.com/English/directory/", class: "btn cta-btn accent"

%br

.container
  .row.challenge-boxes.u-margin-top-sm
    %a.col-md-4.challenge-box.complexity{href: '/partners/technology-partners/'}
      .box-image{ style: "background: no-repeat center center / cover;" }
        .box-image-title <strong> Alliances & Technology Partners <strong>
      .box-link
        Learn More
        %i.fas.fa-arrow-right
    %a.col-md-4.challenge-box.security{href: '/partners/program/'}
      .box-image{ style: "background: no-repeat center center / cover;" }
        .box-image-title <strong> Become a Channel Partner <strong>
      .box-link
        Learn More
        %i.fas.fa-arrow-right
    %a.col-md-4.challenge-box.speed{href: 'https://partners.gitlab.com/English/directory/'}
      .box-image{ style: "background: no-repeat center center / cover;" }
        .box-image-title <strong> Find a GitLab Partner <strong>
      .box-link
        Learn More
        %i.fas.fa-arrow-right





